.container {
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    background-image: url(sourse/image/background/redLight.svg), url(sourse/image/background/purpleLight.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, center top;
    overflow: auto;
    font-family: 'Inter', sans-serif;
    background-color: #0E1014;
}

.svgContainer {
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.purpleBall {
    position: absolute;
    right: 10px;
}

.redBallBig {
    position: absolute;
    top: 80px;
}

.redBallSmall {
    position: absolute;
    right: 70px;
    top: 500px;
}

.header {
    margin: 50px auto 100px;
    max-width: 1140px;
    width: 100%;
    height: 73px;
    display: flex;
}

.logo {
    height: 24px;
}

.slogan {
    font-size: 10px;
    font-weight: 300;
    width: 140px;
    height: 24px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.list {
    display: flex;
    margin: 0;
}

.list li {
    cursor: pointer;
    margin: 0 10px;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
}

.list li:hover {
    text-decoration: underline
}

.numberPhone {
    padding-right: 40px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.link {
    margin-left: auto;
}

.link a {
    margin: 10px;
}

.footer {
    height: 315px;
    max-width: 1140px;
    width: 100%;
    flex: 0 0 auto;
    margin: 0 auto;
    display: flex;
}

.footerTitle {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #656566;
}

.blockFooter {
    display: flex;
    flex-flow: column wrap;
}

.blockFooter a {
    text-decoration: none;
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #E4E5EA;
}

.blockFooter > a:hover {
    text-decoration: underline;
}

.contactBlock {
    text-align: right;
    margin-left: auto;
}

.menuBlock {
    margin: 0 auto;
}

.blockMenuList {
    height: 140px;
    width: 500px;
}

.socialNetworkList {
    margin-top: 8px;
}

.socialNetwork {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.confidentiality {
    margin-top: 100px;
}

.confidentiality a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #E4E5EA;
    text-decoration: none;
}

.confidentiality a:hover {
    text-decoration: underline;
}

.content {
    flex: 1 0 auto;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.contentLeft {
    width: 50%;
    margin-right: auto;
}

.profitMore {
    width: 362px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.nameCompany {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FCB045, #FF3F78);
    display: inline-block;
}

.whatWeDo {
    margin-top: 50px;
    width: 275px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E4E5EA;
}

.contentRight {
    width: 50%;
    margin-left: auto;
    height: 100%;
    text-align: right;
}

.whatWeGive {
    width: 291px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
    margin-top: 15px;
    text-align: right;

    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FCB045, #FD1D1D);
    display: inline-block;
}

.colorText {
    color: white;
}

.giftBlock {
    height: 250px;
    margin-left: auto;
    margin-top: 50px;
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.giftBlockItem {
    width: 140px;
    height: 100px;
    margin-left: auto;
}

.titleGiftBlock {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.descriptionGiftBlock {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    width: 262px;
    height: 61px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #4077F3;
    color: #E4E5EA;
}




