.container {
    margin: 0;
    padding: 0;
    color: white;
    height: 100vh;
    background-image: url(sourse/image/background/redLight.svg), url(sourse/image/background/purpleLight.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left center, center top;
    overflow: auto;
    font-family: 'Inter', sans-serif;
    background-color: #0E1014;
}

.svgContainer {
    position: relative;
    width: 450px;
    margin: 0 auto;
}

.purpleBall {
    position: absolute;
    right: 10px;
}

.redBallBig {
    position: absolute;
    top: 80px;
}

.redBallSmall {
    position: absolute;
    right: 70px;
    top: 500px;
}

.header {
    padding-top: 50px;
    margin: 0 auto 80px;
    max-width: 1140px;
    width: 100%;
    height: 73px;
    display: flex;
}

.logo {
    height: 24px;
}

.slogan {
    font-size: 10px;
    font-weight: 300;
    width: 140px;
    height: 24px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}

.list {
    display: flex;
    margin: 0 auto;
    width: 503px;
    padding: 0;
}

.listItem {
    cursor: pointer;
    width: 100%;
    text-align: center;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
}

.list li:hover {
    text-decoration: underline
}

.numberPhone {
    padding-right: 40px;
    /*display: block;*/
    /*margin-left: auto;*/
    min-width: 150px;
    width: 100%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.link {
    display: flex;
    margin-left: auto;
    width: 320px;
}

.link a {
    width: 100%;
    text-align: center;
}

.footer {
    height: 315px;
    max-width: 1140px;
    width: 100%;
    flex: 0 0 auto;
    margin: 0 auto;
    display: flex;
}

.footerTitle {
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #656566;
}

.blockFooter {
    display: flex;
    flex-flow: column wrap;
    margin-right: 10px;
}

.blockFooter a {
    text-decoration: none;
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #E4E5EA;
}

.blockFooter > a:hover {
    text-decoration: underline;
}

.contactBlock {
    text-align: right;
    margin-left: auto;
}

.menuBlock {
    margin: 0 auto;
}

.blockMenuList {
    height: 140px;
    width: 450px;
}

.socialNetworkList {
    margin-top: 8px;
}

.socialNetwork {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.confidentiality {
    margin-top: 90px;
}

.confidentiality a {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #E4E5EA;
    text-decoration: none;
}

.confidentiality a:hover {
    text-decoration: underline;
}

.content {
    flex: 1 0 auto;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto 20px;
    display: flex;
}

.contentLeft {
    width: 50%;
    margin-right: auto;
    /*border: 1px red solid;*/
}

.profitMore {
    width: 362px;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.nameCompany {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FCB045, #FF3F78);
    display: inline-block;
}

.whatWeDo {
    margin-top: 50px;
    width: 275px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #E4E5EA;
}

.contentRight {
    width: 50%;
    margin-left: auto;
    height: 100%;
    text-align: right;
    /*border: 1px red solid;*/
}

.whatWeGive {
    width: 291px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: auto;
    margin-top: 15px;
    text-align: right;

    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #FCB045, #FD1D1D);
    display: inline-block;
}

.colorText {
    color: #E4E5EA;
    font-weight: 500;
}

.colorText::first-letter {
    text-transform: uppercase;
}

.giftBlock {
    height: 250px;
    margin-left: auto;
    margin-top: 40px;
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

.giftBlockItem {
    width: 140px;
    height: 100px;
    margin-left: auto;
}

.titleGiftBlock {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.titleGiftBlock1::after {
    content: "ВИДЖЕТЫ";
}

.titleGiftBlock2::after {
    content: "SKYPE АУДИТ";
}

.titleGiftBlock3::after {
    content: "DASHBOARD";
}

.titleGiftBlock4::after {
    content: "35 ДНЕЙ";
}

.descriptionGiftBlock {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #E4E5EA;
}

.btn {
    width: 262px;
    height: 61px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background: #4077F3;
    color: #E4E5EA;
    border: none;
}

@media screen and (max-width: 840px) {
    .svgContainer {
        display: none;
    }

    .header {
        background-color: #0E1014;
        height: 55px;
        padding-top: 0;
        align-items: center;
    }

    .blockLogo {
        display: none;
    }

    .list {
        padding: 0;
        width: 100%;
    }

    .listItem {
        font-size: 12px;
        text-transform: uppercase;
    }

    .listCertificate {
        display: none;
    }

    .link {
        display: none;
    }

    .content {
        /*width: 100%;*/
        display: block;
        /*margin-left: 15px;*/
    }

    .contentLeft {
        width: 100%;
    }

    .profitMore{
        width: 100%;
        font-weight: 400;
        font-size: 36px;
    }
    .nameCompany{
        font-size: 36px;
    }

    .contentRight {
        width: 100%;
        margin-left: 0;
        text-align: left;
    }

    .whatWeGive {
        margin-right: auto;
        text-align: left;
    }

    .gradientText {
        text-transform: lowercase;
    }

    .giftBlock {
        margin-left: 0;
        height: 70px;
        width: 280px;
    }

    .giftBlockItem {
        margin-left: 0;
        margin-bottom: 10px;
        height: auto;
    }

    .titleGiftBlock {
        font-size: 13px;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        color: #E4E5EA;
    }

    .titleGiftBlock::before {
        content: "–";
        margin-right: 4px;
        background-image: linear-gradient(to right, #FCB045, #FD1D1D);
        -webkit-background-clip: text;
        color: transparent;
    }

    .titleGiftBlock1::after {
        content: "SKYPE АУДИТ";
    }

    .titleGiftBlock2::after {
        content: "DASHBOARD";
    }

    .titleGiftBlock3::after {
        content: "30 ВИДЖЕТОВ";
    }

    .titleGiftBlock4::after {
        content: "МЕСЯЦ АMOCRM";
    }

    .descriptionGiftBlock {
        display: none;
    }

    .btn {
        display: none;
    }

    .footer {
        width: 100%;
        display: block;
        background-color: #0E1014;
        height: auto;
        padding-top: 10px;
        /*margin: auto 0;*/
    }

    .blockFooter a {
        word-wrap: break-word;
    }

    .menuBlock {
        width: 100%;
        /*border: 1px red solid;*/
    }

    .blockMenuList {
        width: 100%;
    }

    .contactBlock {
        /*margin-left: 0;*/
        text-align: left;
    }
}



